body {
    background-image: url("https://live.staticflickr.com/8122/8682586995_cd9ee116e4_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ccc;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 275px;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 120%;
    height: auto;
}

.card-content {
    padding: 8px;
}

.card-content h3 {
    margin-bottom: 8px;
    color: #333;
    font-size: 28px;
}

.card-content p {
    color: #666;
    font-size: 16px;
    line-height: 1.3;
}

.card-content .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    border-radius: 8px;
    margin-top: 16px;
    color: white;
}

.back-home {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.back-home-btn {
    background-color: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.2s;
}

.back-home-btn:hover {
    background-color: #333;
    transform: scale(1.05);
}