html{
  scroll-behavior: smooth;
}

body {
  background-image: url('https://www.telegraph.co.uk/content/dam/Travel/2016/April/philippines-mayon-AP9942491.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ccc;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;   
  background-color: transparent; 
  padding: 15px 100px; 
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.nav-links {
  display: flex; 
  gap: 30px; 
}

.nav-links a {
  text-decoration: none; 
  color: #333; 
  font-size: 0.9em;
  font-weight: 500;
  padding: 5px 10px;
  text-transform: uppercase; 
}

.logo {
  background: #fff4f4;      
  color: rgb(0, 0, 0);           
  padding: 8px 20px;       
  border-radius: 8px;      
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #000000;
}

.nav-links a {
  border: 2px solid #000000;     
  border-radius: 6px;          
  padding: 6px 16px;          
  margin: 0 8px;              
  text-decoration: none;       
  color: #000000;              
  background: rgba(247, 238, 238, 0.853); 
  transition: border-color 0.2s;
}

.left-middle {
  position: absolute;
  left: 40px;        
  top: 53%;
  transform: translateY(-30%);
  width: 350px;     
  color: #222;
  background: rgba(241, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.left-middle-top {
  position: absolute;
  left: 40px;
  top: 35%; 
  transform: translateY(-80%); 
  width: 350px;
  height: auto;
  color: #222;
  background: rgba(241, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.right-image {
  position: absolute;
  right: 170px;
  top: 18%;
}

.right-image2 {
  position: absolute;
  right: 120px;
  top: 44%;
}

.right-image3 {
  position: absolute;
  right: 170px;
  top: 68%;
}

.right-image4 {
  position: absolute;
  right: 120px;
  top: 90%;
}

.right-image img,
.right-image1 img,
.right-image2 img,
.right-image3 img,
.right-image4 img,
.right-image5 img,
.right-image6 img,
.right-image8 img,
.right-image9 img,
.right-image10 img,
.right-image12 img,
.right-image13 img,
.right-image14 img,
.right-image16 img,
.right-image17 img,
.right-image18 img {
  width: 250px;
  height: auto;
  border: 2px solid #333;
  border-radius: 8px;
}

.left-bottom {
  position: absolute;
  left: 40px;        
  top: 87%;
  transform: translateY(-30%);
  width: 350px;     
  color: #222;
  background: rgba(241, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.footer-bottom {
  background: #000000;    
  color: white;           
  padding: 20px;         
  margin-top: 800px;        
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-content {
  color: #ffffffb2;       
}

.left-middle-top1 {
  position: absolute;
  left: 40px;
  top: 20%; 
  width: 500px;
  height: auto;
  color: #222;
  background: rgba(241, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}


.explore {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.explore-btn {
  background-color: black;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.2s;
}

.expl-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

.right-bottom1 {
  position: absolute;
  right: 40px;        
  top: 105%;
  width: 500px;     
  color: #222;
  background: rgba(241, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.right-image1 {
  position: absolute;
  right: 170px;
  top: 20%;
}

.right-image5 {
  position: absolute;
  right: 120px;
  top: 47%;
}

.right-image6 {
  position: absolute;
  right: 170px;
  top: 74%;
}

.right-image7 img,
.right-image11 img,
.right-image15 img,
.right-image19 img {
  width: 800px;
  height: 370px;
  border: 2px solid #333;
  border-radius: 8px;
}

.right-image7 {
  position: absolute;
  left: 70px;
  top: 105%;
}

.center-middle {
  position: absolute;        
  top: 163%;
  right: 500px;
  width: 530px;     
  color: #222;
  background: rgba(241, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.foods {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1275px;
}

.foods1,
.foods2, 
.foods3,
.foods4 {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 1285px;
}

.foods img {
  width: 250px;
  height: auto;
  border: 2px solid #333;
  border-radius: 8px;
}

.foods figure,
.foods1 figure,
.foods2 figure,
.foods3 figure,
.foods4 figure {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.right-image8 {
  position: absolute;
  right: 170px;
  top: 20%;
}

.right-image9 {
  position: absolute;
  right: 120px;
  top: 47%;
}

.right-image10 {
  position: absolute;
  right: 170px;
  top: 74%;
}

.right-image11 {
  position: absolute;
  left: 70px;
  top: 105%;
}

.right-image12 {
  position: absolute;
  right: 170px;
  top: 20%;
}

.right-image13{
  position: absolute;
  right: 120px;
  top: 47%;
}

.right-image14 {
  position: absolute;
  right: 170px;
  top: 74%;
}

.right-image15 {
  position: absolute;
  left: 70px;
  top: 105%;
}

.right-image16 {
  position: absolute;
  right: 170px;
  top: 20%;
}

.right-image17 {
  position: absolute;
  right: 120px;
  top: 47%;
}

.right-image18 {
  position: absolute;
  right: 170px;
  top: 74%;
}

.right-image19 {
  position: absolute;
  left: 70px;
  top: 105%;
}

.explore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.explore-btn {
  background-color: black;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.2s;
}

.expl-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}